[submodule "wordpress"]
	path = wordpress
	url = git://github.com/WordPress/WordPress.git
[submodule "app/themes/roots"]
	path = app/themes/roots
	url = https://github.com/willthemoor/roots
[submodule "app/plugins/advanced-custom-fields"]
	path = app/plugins/advanced-custom-fields
	url = git@github.com:elliotcondon/acf.git
[submodule "app/plugins/user-switching"]
	path = app/plugins/user-switching
	url = git@github.com:johnbillion/user-switching.git
[submodule "app/plugins/debug-bar"]
	path = app/plugins/debug-bar
	url = git@github.com:wp-plugins/debug-bar.git
[submodule "app/plugins/debug-bar-extender"]
	path = app/plugins/debug-bar-extender
	url = git@github.com:wp-plugins/debug-bar-extender.git
[submodule "app/plugins/force-regenerate-thumbnails"]
	path = app/plugins/force-regenerate-thumbnails
	url = git@github.com:wp-plugins/force-regenerate-thumbnails.git
[submodule "app/plugins/theme-check"]
	path = app/plugins/theme-check
	url = git@github.com:wp-plugins/theme-check.git
